.max-h-screen {
    max-width: 1000px;
    margin: auto;
}

.titleRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .title {
        font-size: 1.5rem;
        font-weight: bold;
    }
}