#root > div.thumbnail-carousel {
    width: 100%;
    overflow-x: scroll;
    display: flex;

    div {
        flex-direction: row;
        cursor: grab;
        float: left;
        padding: 3px;
        img {
            height: auto;
            border-radius: 8px;
            transition: transform 0.25s;
            &:hover {
                transform: scale(1.05);
            }
        }
    }
}